{% extends "./layout/parent.html" %} {% block main_body %}
<section class="main-content">
	<div class="container">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                 <h4 class="modal-title" id="myModalLabel">Demo Site</h4>
	            </div>
	            <div class="modal-body">This is a Demo E-Commerce site powered by Contentstack</div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	            </div>
	        </div>
	    </div>
	</div>
		{% for entry in entries.entries %}
			<div class="col-md-4 col-sm-6 col-xs-12 women-dresses">
				<div class="women-grids wp1 animated wow slideInUp product-item" data-wow-delay=".5s">
					<a href="{{entry.url}}"><div class="product-img">
						<img src="{{entry.image_thumbnails[0].url}}" alt="" />
						<div class="p-mask">
							<form action="#" method="post">
								{% if entry.in_stock %}
									<button type="submit" class="snipcart-add-item w3ls-cart pw3ls-cart demoAlert"
										    data-item-id="{{entry.uid}}"
										    data-item-name="{{entry.title}}"
										    data-item-price="{{entry.price}}"
										    data-item-weight="20"
										    data-item-url="{{entry.url}}">
										<i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								{% else %}
								    <button type="submit" class="btn btn-warning w3ls-cart pw3ls-cart" disabled="disabled"
										    data-item-id="{{entry.uid}}"
										    data-item-name="{{entry.title}}"
										    data-item-price="{{entry.price}}"
										    data-item-weight="20"
										    data-item-url="{{entry.url}}">
										<i class="fa fa-cart-plus" aria-hidden="true"></i> Out of Stock</button>
								{% endif %}
							</form>
						</div>
					</div></a>
					<h4>{{entry.title}}</h4>
					<h5>{{entry.price}}</h5>
				</div>
			</div>
		{% endfor %}
	
	</div>
</section>
{% endblock %}
