<!doctype html>
<html>
    <meta charset="utf-8">
    {# <title>{{ entry.title }}</title> #}
    <head> 
        <link rel="icon" type="image/png" href="/images/ecommerce.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Fashion Club Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- css -->
		<link href="../static/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="../static/stylesheets/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="../static/stylesheets/flexslider.css" type="text/css" media="all" />
		{# <link rel="stylesheet" href="../static/stylesheets/font-awesome.min.css" type="text/css" media="all" /> #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--// css -->
		<!-- font -->
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<!-- //font -->
		<script type="text/javascript" src="../static/javascripts/jquery-1.11.1.min.js"></script>
		<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
		<script type="text/javascript" src="../static/javascripts/bootstrap.js"></script>
		<script type="text/javascript" src="../static/javascripts/jquery.flexisel.js"></script>
		<script type="text/javascript" src="../static/javascripts/jquery.flexslider.js"></script>
		<script type="text/javascript" src="../static/javascripts/script.js"></script>
		<!-- Snipcart -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>-->
		<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NDhkOWQzZWUtOGQwZC00ZGVlLWI4ZDItNGE2YWFiYzgwZjJlNjM2MjI2NzYzMzI5ODExNDAx"></script>
		<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        
        {% include "../partials/header.html" %}
        
        
        {% block main_body %} {% endblock %}
        
        
        {% include "../partials/footer.html" %}
        
    
    </body>
</html>
